/* You can add global styles to this file, and also import other style files */

.container {
  text-align: center;
  margin-top: 20px;
  display: flex;
    justify-content: center;
    align-items: center;
}
/* 
body {
    background-image: url('/assets/wallpaper.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
   padding: 0;
   height: 100vh; 
   overflow-x: hidden;
   
  } */