
<div style="margin-top: 40px;"></div>

<div class="row">
   <div class="col-sm">
   <img class="shadow-image" src="https://4.bp.blogspot.com/-2MQP5D_p5s0/WQbIjpPA8_I/AAAAAAAAGXs/6vNC4ogcw9ESmxOx_R69upefdS0LGm53wCLcB/s1600/f2794b6dff83ba4c11ab8de0f467a5ef.jpg"  width="230" height="300"   routerLink="/akshada">
   <figcaption>Akshada Bangar</figcaption>
   <span style="margin-right: 30px;"></span>
   <router-outlet></router-outlet>
</div>


   <div class="col-sm">
    <img class="shadow-image" src="https://wallpapercave.com/wp/wp4603353.jpg"  width="230" height="300"  alt="Sonali Bangar" routerLink="/sonali" >
    <figcaption>Sonali Rakshe</figcaption>
    <span style="margin-right: 30px;"></span>
    <router-outlet></router-outlet>
    </div>

    <div class="col-sm">
    <img class="shadow-image" src="https://wallpapercave.com/wp/wp2586728.jpg"  width="230" height="300"  alt="Sayali padir"  routerLink="/sayali" >
    <figcaption>Sayali</figcaption>
    <span style="margin-right: 30px;"></span>
    <router-outlet></router-outlet>
 </div>
   </div>

    









    <!--<span style="margin-right: 30px;"></span>-->