<div style="margin-top: 60px;"></div>

<div class="row">
   <div class="col-sm">
   <img class="shadow-image" [src]="bhavanaurl"  width="200" height="250"   routerLink="/bhavana">
   <figcaption>Bhavana Deshmukh</figcaption>
   <span style="margin-right: 30px;"></span>
   <router-outlet></router-outlet>
</div>


   <div class="col-sm">
    <img class="shadow-image" [src]="sakshiurl"  width="200" height="250" routerLink="/sakshi"  >
    <figcaption>Sakshi Pokharkar</figcaption>
    <span style="margin-right: 30px;"></span>
    <router-outlet></router-outlet>
    </div>

    <div class="col-sm">
    <img class="shadow-image" [src]="vidyaurl"  width="200" height="250"  routerLink="/vidya"  >
    <figcaption>Vidya Morde</figcaption>
    <span style="margin-right: 30px;"></span>
    <router-outlet></router-outlet>
 </div>
   </div>


