/* You can add global styles to this file, and also import other style files */


  .style
  {

 
  background-image: url('https://img.freepik.com/premium-photo/pink-cake-with-pink-icing-pink-roses-top_265515-6546.jpg'); 
  background-size: cover; 
  /*background-position: center; 
  margin: 0; padding: 0;*/
  height: fit-content
  }
